.footer-container {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-block: 1.5rem;

  a {
    text-decoration: none;
  }

  > * {
    padding-block: 2rem;
  }
}

#follow-us {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  color: #0282f9;
}

.btn {
  padding: 1rem;
  background-color: transparent;
}

.btn-signup {
  font-size: 1.3rem;
  color: white;
  border: 3px solid #0282f9;
}

main,
header,
#bottom-footer {
  position: relative;
  z-index: 2;
}
