#comic-cards {
  color: white;
  padding-block: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.comic-card {
  width: 11rem;
}

.image-wrapper {
  width: 11rem;
  height: 11rem;
  overflow: hidden;
  border-radius: 0.3rem;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transform-origin: center top;
}

.image-wrapper img.zoom {
  transform: scale(1.6);
}

.comic-card p {
  text-transform: uppercase;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: normal;
}
