nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  flex-wrap: no-wrap;
  gap: 52px;
}

nav li {
  list-style: none;
  padding: 4rem 0;
  border-bottom: 4px solid white;
}

nav li:first-child {
  margin-left: 0;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

nav li:hover {
  cursor: pointer;
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
}

/* Responsive */
.btn {
  background-color: transparent;
  border: 0;
}

.btn-burger {
  font-size: 2rem;
}

.btn-burger:hover {
  cursor: pointer;
  color: #0282f9;
}

.menu-toggle {
  display: none;
}

.links-container {
  display: flex;
}

@media (max-width: 1840px) {
  .menu-toggle {
    display: block;

    &.btn {
      padding-block: 3.5rem;
    }
  }

  .links-container {
    display: none;
  }
}
