.container {
  width: 67%;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 85%;
    min-width: 300px;
  }
}

.content {
  padding-block: 4rem;

  h2 {
    font-size: 2rem;
    color: white;
  }
}

#cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

#top-main {
  background-image: url("./assets/img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  min-height: 25rem;
}
