.container {
  width: 67%;
  max-width: 1600px;
  margin: 0 auto;
}

.content {
  padding-block: 4rem;

  h2 {
    font-size: 2rem;
    color: white;
  }
}

#cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}
