@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

:root {
  --white: #ffffff;
  --black: #1c1c1c;
  --blue: #0282f9;
  --dark-gray: #303030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-weight: bolder;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
