nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav li {
  list-style: none;
  padding: 52px 0;
  margin-inline: 35px;
  border-bottom: 4px solid white;
}

nav li:first-child {
  margin-left: 0;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

nav li:hover {
  cursor: pointer;
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
}
