:root {
  --gap: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

[class*="col-"] {
  flex: 0 0 auto;
}

.col-1 {
  flex-basis: calc(100% / 12 * 1 - var(--gap));
  max-width: calc(100% / 12 * 1 - var(--gap));
}
.col-2 {
  flex-basis: calc(100% / 12 * 2 - var(--gap));
  max-width: calc(100% / 12 * 2 - var(--gap));
}
.col-3 {
  flex-basis: calc(100% / 12 * 3 - var(--gap));
  max-width: calc(100% / 12 * 3 - var(--gap));
}
.col-4 {
  flex-basis: calc(100% / 12 * 4 - var(--gap));
  max-width: calc(100% / 12 * 4 - var(--gap));
}
.col-5 {
  flex-basis: calc(100% / 12 * 5 - var(--gap));
  max-width: calc(100% / 12 * 5 - var(--gap));
}
.col-6 {
  flex-basis: calc(100% / 12 * 6 - var(--gap));
  max-width: calc(100% / 12 * 6 - var(--gap));
}
.col-7 {
  flex-basis: calc(100% / 12 * 7 - var(--gap));
  max-width: calc(100% / 12 * 7 - var(--gap));
}
.col-8 {
  flex-basis: calc(100% / 12 * 8 - var(--gap));
  max-width: calc(100% / 12 * 8 - var(--gap));
}
.col-9 {
  flex-basis: calc(100% / 12 * 9 - var(--gap));
  max-width: calc(100% / 12 * 9 - var(--gap));
}
.col-10 {
  flex-basis: calc(100% / 12 * 10 - var(--gap));
  max-width: calc(100% / 12 * 10 - var(--gap));
}
.col-11 {
  flex-basis: calc(100% / 12 * 11 - var(--gap));
  max-width: calc(100% / 12 * 11 - var(--gap));
}
.col-12 {
  flex-basis: calc(100% / 12 * 12 - var(--gap));
  max-width: calc(100% / 12 * 12 - var(--gap));
}

@media (min-width: 1200px) {
  .col-xl-1 {
    flex-basis: calc(100% / 12 * 1 - var(--gap));
    max-width: calc(100% / 12 * 1 - var(--gap));
  }
  .col-xl-2 {
    flex-basis: calc(100% / 12 * 2 - var(--gap));
    max-width: calc(100% / 12 * 2 - var(--gap));
  }
  .col-xl-3 {
    flex-basis: calc(100% / 12 * 3 - var(--gap));
    max-width: calc(100% / 12 * 3 - var(--gap));
  }
  .col-xl-4 {
    flex-basis: calc(100% / 12 * 4 - var(--gap));
    max-width: calc(100% / 12 * 4 - var(--gap));
  }
  .col-xl-5 {
    flex-basis: calc(100% / 12 * 5 - var(--gap));
    max-width: calc(100% / 12 * 5 - var(--gap));
  }
  .col-xl-6 {
    flex-basis: calc(100% / 12 * 6 - var(--gap));
    max-width: calc(100% / 12 * 6 - var(--gap));
  }
  .col-xl-7 {
    flex-basis: calc(100% / 12 * 7 - var(--gap));
    max-width: calc(100% / 12 * 7 - var(--gap));
  }
  .col-xl-8 {
    flex-basis: calc(100% / 12 * 8 - var(--gap));
    max-width: calc(100% / 12 * 8 - var(--gap));
  }
  .col-xl-9 {
    flex-basis: calc(100% / 12 * 9 - var(--gap));
    max-width: calc(100% / 12 * 9 - var(--gap));
  }
  .col-xl-10 {
    flex-basis: calc(100% / 12 * 10 - var(--gap));
    max-width: calc(100% / 12 * 10 - var(--gap));
  }
  .col-xl-11 {
    flex-basis: calc(100% / 12 * 11 - var(--gap));
    max-width: calc(100% / 12 * 11 - var(--gap));
  }
  .col-xl-12 {
    flex-basis: calc(100% / 12 * 12 - var(--gap));
    max-width: calc(100% / 12 * 12 - var(--gap));
  }
}

@media (max-width: 1500px) {
  .col-lg-1 {
    flex-basis: calc(100% / 12 * 1 - var(--gap));
    max-width: calc(100% / 12 * 1 - var(--gap));
  }
  .col-lg-2 {
    flex-basis: calc(100% / 12 * 2 - var(--gap));
    max-width: calc(100% / 12 * 2 - var(--gap));
  }
  .col-lg-3 {
    flex-basis: calc(100% / 12 * 3 - var(--gap));
    max-width: calc(100% / 12 * 3 - var(--gap));
  }
  .col-lg-4 {
    flex-basis: calc(100% / 12 * 4 - var(--gap));
    max-width: calc(100% / 12 * 4 - var(--gap));
  }
  .col-lg-5 {
    flex-basis: calc(100% / 12 * 5 - var(--gap));
    max-width: calc(100% / 12 * 5 - var(--gap));
  }
  .col-lg-6 {
    flex-basis: calc(100% / 12 * 6 - var(--gap));
    max-width: calc(100% / 12 * 6 - var(--gap));
  }
  .col-lg-7 {
    flex-basis: calc(100% / 12 * 7 - var(--gap));
    max-width: calc(100% / 12 * 7 - var(--gap));
  }
  .col-lg-8 {
    flex-basis: calc(100% / 12 * 8 - var(--gap));
    max-width: calc(100% / 12 * 8 - var(--gap));
  }
  .col-lg-9 {
    flex-basis: calc(100% / 12 * 9 - var(--gap));
    max-width: calc(100% / 12 * 9 - var(--gap));
  }
  .col-lg-10 {
    flex-basis: calc(100% / 12 * 10 - var(--gap));
    max-width: calc(100% / 12 * 10 - var(--gap));
  }
  .col-lg-11 {
    flex-basis: calc(100% / 12 * 11 - var(--gap));
    max-width: calc(100% / 12 * 11 - var(--gap));
  }
  .col-lg-12 {
    flex-basis: calc(100% / 12 * 12 - var(--gap));
    max-width: calc(100% / 12 * 12 - var(--gap));
  }
}

@media (max-width: 1204px) {
  .col-md-1 {
    flex-basis: calc(100% / 12 * 1 - var(--gap));
    max-width: calc(100% / 12 * 1 - var(--gap));
  }
  .col-md-2 {
    flex-basis: calc(100% / 12 * 2 - var(--gap));
    max-width: calc(100% / 12 * 2 - var(--gap));
  }
  .col-md-3 {
    flex-basis: calc(100% / 12 * 3 - var(--gap));
    max-width: calc(100% / 12 * 3 - var(--gap));
  }
  .col-md-4 {
    flex-basis: calc(100% / 12 * 4 - var(--gap));
    max-width: calc(100% / 12 * 4 - var(--gap));
  }
  .col-md-5 {
    flex-basis: calc(100% / 12 * 5 - var(--gap));
    max-width: calc(100% / 12 * 5 - var(--gap));
  }
  .col-md-6 {
    flex-basis: calc(100% / 12 * 6 - var(--gap));
    max-width: calc(100% / 12 * 6 - var(--gap));
  }
  .col-md-7 {
    flex-basis: calc(100% / 12 * 7 - var(--gap));
    max-width: calc(100% / 12 * 7 - var(--gap));
  }
  .col-md-8 {
    flex-basis: calc(100% / 12 * 8 - var(--gap));
    max-width: calc(100% / 12 * 8 - var(--gap));
  }
  .col-md-9 {
    flex-basis: calc(100% / 12 * 9 - var(--gap));
    max-width: calc(100% / 12 * 9 - var(--gap));
  }
  .col-md-10 {
    flex-basis: calc(100% / 12 * 10 - var(--gap));
    max-width: calc(100% / 12 * 10 - var(--gap));
  }
  .col-md-11 {
    flex-basis: calc(100% / 12 * 11 - var(--gap));
    max-width: calc(100% / 12 * 11 - var(--gap));
  }
  .col-md-12 {
    flex-basis: calc(100% / 12 * 12 - var(--gap));
    max-width: calc(100% / 12 * 12 - var(--gap));
  }
}

@media (max-width: 767px) {
  .col-sm-1 {
    flex-basis: calc(100% / 12 * 1 - var(--gap));
    max-width: calc(100% / 12 * 1 - var(--gap));
  }
  .col-sm-2 {
    flex-basis: calc(100% / 12 * 2 - var(--gap));
    max-width: calc(100% / 12 * 2 - var(--gap));
  }
  .col-sm-3 {
    flex-basis: calc(100% / 12 * 3 - var(--gap));
    max-width: calc(100% / 12 * 3 - var(--gap));
  }
  .col-sm-4 {
    flex-basis: calc(100% / 12 * 4 - var(--gap));
    max-width: calc(100% / 12 * 4 - var(--gap));
  }
  .col-sm-5 {
    flex-basis: calc(100% / 12 * 5 - var(--gap));
    max-width: calc(100% / 12 * 5 - var(--gap));
  }
  .col-sm-6 {
    flex-basis: calc(100% / 12 * 6 - var(--gap));
    max-width: calc(100% / 12 * 6 - var(--gap));
  }
  .col-sm-7 {
    flex-basis: calc(100% / 12 * 7 - var(--gap));
    max-width: calc(100% / 12 * 7 - var(--gap));
  }
  .col-sm-8 {
    flex-basis: calc(100% / 12 * 8 - var(--gap));
    max-width: calc(100% / 12 * 8 - var(--gap));
  }
  .col-sm-9 {
    flex-basis: calc(100% / 12 * 9 - var(--gap));
    max-width: calc(100% / 12 * 9 - var(--gap));
  }
  .col-sm-10 {
    flex-basis: calc(100% / 12 * 10 - var(--gap));
    max-width: calc(100% / 12 * 10 - var(--gap));
  }
  .col-sm-11 {
    flex-basis: calc(100% / 12 * 11 - var(--gap));
    max-width: calc(100% / 12 * 11 - var(--gap));
  }
  .col-sm-12 {
    flex-basis: calc(100% / 12 * 12 - var(--gap));
    max-width: calc(100% / 12 * 12 - var(--gap));
  }
}
